body {
  background-color: rgb(214, 202, 238);
  padding: 0.1rem;
  z-index: 1000;
}
.ner-navbar {
  background-color: rgb(158, 158, 238);
}
.ner-content-card {
  padding: 0.5rem;
  max-height: 500px !important;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* max-width:80%;
  max-height: 70%; */
}
.textareasize {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}
textarea {
  min-width: 550px;
  max-width: 100%;
  /* max-height: 750px; */
  min-height: 20rem;
}
