
  <div class='ner-content-card'>
  <mat-card >
    <!-- <mat-card-title class="ner-navbar">Actions Buttons</mat-card-title>
    <mat-card-subtitle
      ><mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions></mat-card-subtitle
    > -->
    <mat-card-content>
      <mat-form-field class="textareasize" appearance="fill">
        <mat-label>Enter your text here</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  </div>

